name: 01 - Building Blocks

# İlerleyen çalışmalarda bu workflow'un sürekli olarak tetiklenmemesi için push event'i yorum satırı haline getirildi.
# on: push
on: workflow_dispatch

jobs:
    echo-hello:
        runs-on: ubuntu-latest
        steps:
            - name: Say hello
              run: echo "Hello, World!"
    echo-goodbye:
        runs-on: ubuntu-latest
        steps:
            - name: Successful step
              run: |
                echo "I will succeed"
                exit 0
            - name: Say goodbye.
              run: echo "Goodbye!"